@charset 'utf-8';
@import url('common.css');
header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 70%;
	padding: 50px 0;
	flex-wrap: wrap;
}

header h1 img {
	width: 150px;
}

header nav {
	display: inline-block;
	font-size: 20px;
}

header nav a {
	padding: 0 50px 0 0;
	display: inline-block;
	vertical-align: middle;
}

header nav a:hover {
	color: #7fc241;
}

section {
	border: 3px solid #7fc241;
	width: 100%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px 0;
}

/* location */

.location {
	display: flex;
	align-items: stretch;
	border: 2px solid #7fc241;
	width: 100%;
	padding: 5px 0;
}

.location>div {
	border-right: 1px solid #7fc241;
	padding: 10px 20px;
	position: relative;
}

.location>div:last-of-type {
	border: none;
}

.location>div:first-of-type>a {
	background: none;
	padding-right: 0;
}

.location>div>a {
	display: block;
	background: url('../imgs/down_botton.png') right center no-repeat;
	background-size: 10px;
	padding-right: 20px;
}

.location>div>a img {
	width: 30px;
}

.location>div>div {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	background: #7fc241;
	width: 100%;
	text-align: center;
	display: none;
}

.location>div>div a {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
}

.location>div:hover div {
	display: block;
}

/* location end */

main {
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 70%;
	flex-wrap: wrap;
}

.spot_1 strong {
	font-size: 30px;
	margin: 50px 30px 50px 0;
	display:block;
}

.spot_1 div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.spot_1 img {
	width: 50%;
	margin: 0 50px;
}


.number {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	margin: 0 auto;
	padding:30px;
}

.number img {
	width: 5%;
	margin: 5px;
}

.number img:hover {
	background: #f90;
}

/* 코드정리 단축키 ctrol + shift + f */

.spot_2 ul {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	margin: 0 auto;

}

.spot_2 ul li {
	border: solid 2px #333;
	padding: 5px 2px;
	display: block;
	width: 24%;
	padding:0px;
	margin-bottom:1.5%;
}


.spot_2 img {
	width: 100%;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}
.spot_2 ul li p{
	padding:20px;
}


/* 햄버거 메뉴 */

.menu-trigger, .menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.menu-trigger {
	position: relative;
	width: 50px;
	height: 44px;
	transform: scale(0.5);
}

.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
	top: 20px;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

/* 움직임 */

.menu-trigger.active-5 span:nth-of-type(1) {
	-webkit-transform: translateY(20px) rotate(-45deg);
	transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active-5 span:nth-of-type(2) {
	left: 50%;
	opacity: 0;
	-webkit-animation: active-menu-bar05 .8s forwards;
	animation: active-menu-bar05 .8s forwards;
}

@-webkit-keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
}

@keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
}

.menu-trigger.active-5 span:nth-of-type(3) {
	-webkit-transform: translateY(-20px) rotate(45deg);
	transform: translateY(-20px) rotate(45deg);
}