@charset 'utf-8';
@import url('common.css');

header{
	background:#fff; 
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:0 auto;
	width:70%;
	padding: 50px 0;
}
header h1 img{width:150px;}
header nav{
	display:inline-block;
	font-size: 20px;}
header nav a{padding: 0 50px 0 0;
	display:inline-block;
	vertical-align: middle;} 
header nav a:hover{color:#7fc241;}


.spot_1{position:relative;}
.circle{position:absolute;
	bottom:10px;
	text-align: center;
	bottom:12%;
	left:50%;
}
.circle span{display:inline-block;}
.circle span:nth-of-type(1){width:15px; height:15px;
	border-radius: 100%;
	background:#fff;
}
.circle span:nth-of-type(2){width:15px; height:15px;
	border-radius: 100%;
	background:#fff;
}
.circle span:nth-of-type(3){width:15px; height:15px;
	border-radius: 100%;
	background:#fff;
}
.circle span:hover{
	background: #ff9900;
}
.shop{
	overflow: hidden;
	left:15%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:0 auto;
	position:absolute;
	bottom:0;
	transform :translateY(50%);
	border-radius:100px;
	background:#fff;
	width:70%; height:150px;
}
.shop img{
	width:155px; height:60px;
	}


	
.spot_2{width:70%;
	margin:0 auto;
	padding:150px 0 0 0;
	display:flex;
	justify-content: space-between;
	}
.main_1{width:49%;}
.title{
	position:relative;
	border-bottom: 3px solid #7fc241;
	padding-bottom:10px;
}
.title span a:hover{font-weight: bold;}
.title span{font-size: 18px;}
.title span a{margin-right: 5%;}
.title >a{
	position:absolute;
	right:0;
	top: 0;
	width:26px; height:26px;
	text-align:center;
	border: #ff9900 solid 1px;
	background: #fff;
	font-size:18px;
	color: #ff9900;}
	.title >a:hover{
		border: #7fc241 solid 1px;
		color: #7fc241;
	}

	
.notice ul{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;}
.notice ul li{width:100%;
	padding:15px 0;
	border-bottom:1px solid #eee;
}
.notice ul li a img{width:15%;}
.notice ul li p{
	width:82%; font-size:0.9em;
	color:#555;
	text-align: left;
	padding:0 0 0 3px;
}
.notice ul li p strong{
	display:block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	font-size:1.1em;
	margin-bottom:10px;
}

/* .news ul li{
	padding:15px 0;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:1px solid #eee;
}
.news ul li a{width:15%; display:inline-block;}
.news ul li a img{width:100%;}
.news ul li p{
	width:82%; font-size:0.9em;
	color:#555;
}
.news ul li p strong{
	display:block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	font-size:1.1em;
	margin-bottom:10px;
} */

/* 우측배너 */
.main_1_2{
	width:49%;
	position:relative;
	display:flex;
	justify-content: space-between;
}
.main_1_2 > div:nth-of-type(1){
	width:48.4%;
}
.info{
	width:49.6%;}
.info a:nth-of-type(1){
	display:block;
	margin-bottom:5%;
}

/*  주 내용 두번째줄  */
.spot_3{width:70%;
	margin:0 auto;
	padding:150px 0 0 0;
	}
.main_2{width:100%;}
/*  story  */
.story ul{display:flex;
	justify-content: space-between;
	align-items: flex-start;
}
.story ul li{margin:20px 0;
	display:inline-block;
	width:22%;
}
.story ul li img{width:100%;
	vertical-align: top;}
.story ul li p{
	padding: 15 0;
	width:82%; font-size:0.9em;
	color:#555;
}
.story ul li p strong{
	display:block;
	font-size:1.1em;
	margin-bottom:10px;
}
 /*   best   */
/* .best ul{display:flex;
	justify-content: space-between;
	align-items: center;}
.best ul li{margin:20px 0;
	display:inline-block;
	width:22%;
}
.best ul li img{width:100%;
	vertical-align: top;}
.best  ul li p{
	width:82%; font-size:0.9em;
	color:#555;
}
.best ul li p strong{
	padding: 15 0;
	display:block;
	font-size:1.1em;
	margin-bottom:10px;
} */

.spot_4{display:flex;
	align-items: center;
	justify-content: center;
	position:relative;}
.spot img{width:100%;
	}
.spot_4 div{width:50%;
	position: absolute;
	left:25%;
	color:#eee;
	text-align:center;
}
.spot_4 div h2,p{
	display:inline-block;
	text-align: center;
}
footer{
	width:100%;
	background:rgb(235, 235, 235);
	width:100%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	padding: 50px;
	position: relative;
}
footer > a{width:20%;}

footer > div{
	/* margin:0 auto; */
	/* padding: 50px; */
	width:76%;

}
.foot_info div{
	display:inline-block;
	padding:0 50px 0 0;
}
.sbiz{
	padding:20px;
	display:inline-block;
}
.sbiz a{width:150px; height:40px;}
.sbiz a img{width:auto;}

/* 햄버거 메뉴 */

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 50px;
	height: 44px;
	transform:scale(0.5);
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

/* 움직임 */
.menu-trigger.active-5 span:nth-of-type(1) {
	-webkit-transform : translateY(20px) rotate(-45deg);
	transform : translateY(20px) rotate(-45deg);
}
.menu-trigger.active-5 span:nth-of-type(2) {
	left : 50%;
	opacity : 0;
	-webkit-animation : active-menu-bar05 .8s forwards;
	animation : active-menu-bar05 .8s forwards;
}
@-webkit-keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
}
@keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
}
.menu-trigger.active-5 span:nth-of-type(3) {
	-webkit-transform : translateY(-20px) rotate(45deg);
	transform : translateY(-20px) rotate(45deg);
}

